<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style02.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>CKW</b> Furniture</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="homepage.html" class="w3-bar-item w3-button">Home</a>
      <a href="#shoppingbasket.html" class="w3-bar-item w3-button">Shoppingbasket</a>
      <a href="login.html" class="w3-bar-item w3-button">Profile</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Add Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">CKW FURNITURE SHOP</h3>
  </div>
  <h3 style="text-align: center">New furniture for sale!</h3>
  <div class="boxer">
    <div class="w3-center">
      <h3>Chair</h3>
      <img src="images/chair.jpeg" alt="img" style="width:200px">
      <p class="w3-opacity">100$</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <button class="w3-button w3-light-grey w3-center" style="width:200px"><a href="chair.html">Open Add</a></button>
    </div>
  </div>
  <br/>
  <div class="boxer">
    <div class="w3-center">
      <h3>Couch</h3>
      <img src="images/couch.jpeg" alt="img" style="width:200px"> 
      <p class="w3-opacity">100$</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <button class="w3-button w3-light-grey w3-center" style="width:200px">Open Add</button>
    </div>
  </div>
  <br/>
  <div class="boxer">
    <div class="w3-center">
      <h3>Bed</h3>
      <img src="images/bed.jpeg" alt="img" style="width:200px">
      <p class="w3-opacity">100$</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <button class="w3-button w3-light-grey w3-center" style="width:200px">Open Add</button>
    </div>
  </div>
  <br/>
  <div class="boxer">
    <div class="w3-center">
      <h3>Table</h3>
      <img src="images/table.jpg" alt="img" style="width:200px">
      <p class="w3-opacity">100$</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <button class="w3-button w3-light-grey w3-center" style="width:200px">Open Add</button>
    </div>
  </div>
<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>